extends layout
block header
  nav.search
    .nav-wrapper
        a(href='#', data-target='sidenav-left', class="button-collapse sidenav-trigger")
          i.material-icons.menu menu
        form
          .input-field(style="display: flex;")
            input(id='search', placeholder='Search', type='search', required='')
            label.label-icon(for='search')
              i.material-icons.menu search
            i.material-icons.closed(id="close-search") close
block content
  h1 Welcome, #{username}
  h2 Party: #{pin}
  #players-list
  #queue-container
    #queue-items
  #pool-container
    #pool-items
  //- button(class="waves-effect btn-flat" id="show-players") Show players
  #playlist-container
    #playlist-items
  #snackbar
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
  script(src="/javascripts/clientGuest.js")
block footer
  footer.page-footer
      #playback-info
      #playback-buttons
        button(class="waves-effect btn-flat" id="previous")
          i(class="material-icons playback") fast_rewind
        button(class="waves-effect btn-flat" id="play_pause")
          i(class="material-icons playback" id="play_pause_image") play_arrow 
        button(class="waves-effect btn-flat" id="next")
          i(class="material-icons playback") fast_forward