extends layout
block header
    .nav-wrapper
        a(href='#', data-target='sidenav-left', class="button-collapse sidenav-trigger")
            i.material-icons.menu menu
block content
    p This is the host dashboard page
    #games
    a(href="/host/createGame" class="waves-effect btn-flat") Create game
    if !req.user.spotify
        a(href="/host/accounts" class="waves-effect btn-flat") Add accounts
    else
        if !req.user.spotify.access_token
            a(href="/host/spotify/login" class="waves-effect btn-flat") Log in to Spotify
    script(src="/js/hostDashboard.js")
