extends layout
block header
  nav.search
    .nav-wrapper
        a(href='#', data-target='sidenav-left', class="button-collapse sidenav-trigger")
          i.material-icons.menu menu
        form
          .input-field(style="display: flex;")
            input(id='search', placeholder='Search', type='search', required='')
            label.label-icon(for='search')
              i.material-icons.menu search
            i.material-icons.closed(id="close-search") close
block content
  #players-list
  #queue-container
    #queue-items
  #pool-container
    #pool-items
  button(class="waves-effect btn-flat" id="my-playlists") My playlists
  button(class="waves-effect btn-flat" id="my-tracks") My tracks
  button(class="waves-effect btn-flat" id="clearqueue") Clear queue
  #playlist-container
    #playlist-items
    #playlist-track-items.collection
  #search_results.collection
  #track-container(style="display: none;")
    #pagination-container(style="display: none;")
      ul(id="pagination-list", class="pagination", style="display: block; margin: 0 50px;")
        li(id="left-pagination-arrow" class="disabled")
        #pagination-between
        li(id="right-pagination-arrow" class="waves-effect")
    #track-items.collection
  script(src="https://sdk.scdn.co/spotify-player.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
  script(src="/js/clientHost.js")

block footer
  footer.page-footer
      #playback-info
      #playback-buttons
        button(class="waves-effect btn-flat" id="previous")
          i(class="material-icons playback") fast_rewind
        button(class="waves-effect btn-flat" id="play_pause")
          i(class="material-icons playback" id="play_pause_image") play_arrow 
        button(class="waves-effect btn-flat" id="next")
          i(class="material-icons playback") fast_forward
block party-content
  #player-items.collection