doctype html
html(lang='en')
  head
    title auxme
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    //- jQuery
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    //- Bootstrap
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    //- Google font
    link(href='https://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet')
    //- Materlalize css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //- Materialize JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //- Material icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    //- Custom font face
    link(rel="stylesheet" href="/css/webfontkit/stylesheet.css" type="text/css" charset="utf-8")
    //- Custom css
    link(rel="stylesheet" href="/css/index.css" type="text/css" charset="utf-8")
    
  body
    .main-content
        .row
            .col(style="text-align:center; width: 100")
                #auxme-logo.unselectable auxme
                if !req.isAuthenticated()
                    a(href="/host/login" class="waves-effect btn-flat") Login
                    .divider
                    a(href="/host/signup" class="waves-effect btn-flat") Sign Up
                    .divider
                    a(href="/guest/join" class="waves-effect btn-flat") Join Party
                else
                    if req.user.role == "host"
                        a(href="/host/dashboard" class="waves-effect btn-flat") Dashboard
                        .divider
                        a(href="/host/logout" class="waves-effect btn-flat") Logout
                    else if req.user.role == "guest"
                        a(href="/guest/" class="waves-effect btn-flat") Go to party
                        .divider
                        a(href="/guest/leave" class="waves-effect btn-flat") Leave

