doctype html
html(lang='en')
  head
    title auxme
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    //- jQuery
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    //- Bootstrap
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    //- Async
    script(src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.1/async.js")
    //- Google font
    link(href='https://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet')
    //- Materlalize css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //- Materialize JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //- Material icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    //- Custom font face
    link(rel="stylesheet" href="/css/webfontkit/stylesheet.css" type="text/css" charset="utf-8")
    link(rel="stylesheet" href="/css/index.css" type="text/css" charset="utf-8")
    
  body
    .main-content
        .row
            .col(style="text-align:center; width: 100")
                #auxme-logo.unselectable auxme
                button(id="login" class="waves-effect btn-flat") Log In
                //- button(id="login" class="waves-effect btn-flat")
                //-     a(id="login" href="/users/login") LOG IN
                .divider
                button(id="signup" class="waves-effect btn-flat") Sign Up
                //- button(id="signup" class="waves-effect btn-flat")
                //-     a(href="/users/register") Register
                .divider
                button(id="join" class="waves-effect btn-flat") Join Party
                //- button(id="join" class="waves-effect btn-flat")
                    a(id="join" href="/join") Join A Party
    script.
        $('#login').on('click', event => {
            window.location.replace('/users/login');
        });
        $('#signup').on('click', event => {
            window.location.replace('/users/signup');
        });
        $('#join').on('click', event => {
            window.location.replace('/join');
        });