doctype html
html(lang='en')
  head
    title AuxMe
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    //- Bootstrap
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    //- Async
    script(src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.1/async.js")

    //- Google font
    link(href='https://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet')
    //- Materlalize css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //- Materialize JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //- Material icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    //- Custom font face
    link(rel="stylesheet" href="/css/webfontkit/stylesheet.css" type="text/css" charset="utf-8")
    style.
        body {
            background-color: #f6f6f6;
            /*font-family: 'Comfortaa', sans-serif;*/
            font-family: "unisanslightregular";
        }
        #auxme-logo{
            font-size: 100px;
            color: #555555;
        }
        #signup{
            font-size: 50px;
            background-color: #4a90e2;
            border-radius: 150px;
            color: white;
        }
        #login{
            font-size: 50px;
            background-color: grey;
            border-radius: 150px;
            color: black;
        }
        #message{
            font-size: 65px;
            font-family: "unisanslightitalicitalic";
            margin-top: 50px;
        }
        .main-content{
            text-align: center;
            display: flex;
        }
        .col{
            margin-left: auto;
            margin-right: auto;
            margin-top: 25%;
        }
        .divider{
            margin: auto;
            width: 75%;
        }
  body
    .main-content
        .row
            .col.s6
                #auxme-logo AuxMe
                a(id="signup" href="/users/register") SIGN UP
                .divider
                a(id="login" href="/users/login") LOG IN
            .col.s6
                #message Let's get social with sound