extends layout

block content
    h1 Join a party
    input(type="text" placeholder="Enter your display name")
    input(type="text" placeholder="Enter pin code")
    button(class="waves-effect btn-flat" id="joinButton") Join