extends layout

block content
    h1 Join a party
    .input-field
      label(for='display-name') Display Name
      input.form-control(id='display-name' name='display-name', type='text')
    //- input(type="text" id="display-name" placeholder="Enter your display name")
    .input-field
      label(for='party-code') Party code
      input.form-control(id='party-code' name='party-code', type='text')
    //- input(type="text" id="pin" placeholder="Enter pin code")
    button(class="waves-effect btn-flat" id="joinButton") Join
    script.
        $('#joinButton').on('click', event => {
            const displayName = $('#display-name').val();
            const pin = $('#party-code').val();
            window.location.replace(`/guest/displayName/${displayName}/pin/${pin}`);
        });