extends layout
block header
  .nav-wrapper
      a(href='#', data-target='sidenav-left', class="button-collapse sidenav-trigger")
        i.material-icons.menu menu
block content
    if errors
      each error, i in errors
        div.alert.alert-danger #{error}
    h1 Join a party
    .input-field
      label(for='username') Display Name
      input.form-control(id='' name='username', type='text')
    .input-field
      label(for='party-code') Party code
      input.form-control(id='party-code' name='party-code', type='text')
    button(class="waves-effect btn-flat" id="joinButton") Join
    script.
        $('#joinButton').on('click', event => {
            const username = $('#username').val();
            const pin = $('#party-code').val();
            window.location.replace(`/guest/username/${username}/pin/${pin}`);
        });