extends layout

block content
    h1 Join a party
    input(type="text" id="display-name" placeholder="Enter your display name")
    input(type="text" id="pin" placeholder="Enter pin code")
    button(class="waves-effect btn-flat" id="joinButton") Join
    script.
        $('#joinButton').on('click', event => {
            const displayName = $('#display-name').val();
            const pin = $('#pin').val();
            window.location.replace(`/guest/displayName/${displayName}/pin/${pin}`);
        });