doctype html
html(lang='en')
  head
    title AuxMe
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    //- Bootstrap
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    //- Async
    script(src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.1/async.js")

    //- Google font
    link(href='https://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet')
    //- Materlalize css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //- Materialize JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //- Material icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    style.
      /* Scrollbar */
      ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      ::-webkit-scrollbar-button {
        width: 100px;
        height: 100px;
      }
      ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px inset #408080;
        border-radius: 100px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
      }
      ::-webkit-scrollbar-thumb:active {
        background: #c0c0c0;
      }
      ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px groove #ffffff;
        border-radius: 100px;
      }
      ::-webkit-scrollbar-track:hover {
        background: #666666;
      }
      ::-webkit-scrollbar-track:active {
        background: #333333;
      }
      ::-webkit-scrollbar-corner {
        background: transparent;
      }
      /* Host view */
      #players-list{
        
      }
      #queue-container{
        display: flex;
        margin: 0 auto;
      }
      #queue-items{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
      }
      #queue-items > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
      }
      .card-image{
        height: 200px;
        width: 200px;
        cursor: pointer;
      }
      .card-title-custom{
        font-size: 12px !important;
      }
      .card-content-custom{
        font-size: 20px !important;
        width: 200px;
      }
      .input-field, button {
        font-family: "Uni Sans";
      }
      #playback-info {
        text-align: center;
      }
      #playback-buttons{
        text-align: center;
        padding-bottom: 20px;
      }
      #playlist-container{
        display: none; /* initially hidden then toggled */
      }
      #playlist-items{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
      }
      #playlist-items > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        cursor: pointer;
      }
      /* The snackbar - position it at the bottom and in the middle of the screen */
      #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 2; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
      }

      /* Show the snackbar when clicking on a button (class added with JavaScript) */
      #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }

      /* Animations to fade the snackbar in and out */
      @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;} 
          to {bottom: 30px; opacity: 1;}
      }

      @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
      }

      @-webkit-keyframes fadeout {
          from {bottom: 30px; opacity: 1;} 
          to {bottom: 0; opacity: 0;}
      }

      @keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
      }
      /* ---- reset ---- */
      body {

        background-color: #f6f6f6;
        /*font-family: 'Comfortaa', sans-serif;*/
        font-family: "Uni Sans";
        color: #4a4a4a;
        /*
        display: flex;
        min-height: 100vh;
        flex-direction: column; 
        */
      }

      /* ---- particles.js container ---- */

      #particles {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        /* background-color: #232741; */
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 0%;
      }
      /* -------------------------------------------------------- */
      /*
      main {
        flex: 1 0 auto;
      }
      */
      #sidenav-left {
        background-color: #4a4a4a;
      }
      #auxme-logo {
        font-size: 30px;
        text-align: center;
        color: white;
        padding: 10px;
      }
      #main-content {
        
      }
      nav {
        background-color: white;
      }
      header, main {
        padding-left: 300px;
      }
      @media only screen and (max-width : 992px) {
        header, main {
          padding-left: 0;
        }
      }
      i.menu{
        color: grey;
      }
      i.playback{
        color: white;
      }
      .page-footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #4a4a4a;
        z-index: 1;
      }
      .sidenav li>a {
        font-weight: normal;
      }
      input {
        font-family: "Uni Sans Light";
      }
      .btn {
        background-color: #5f99dd;
      }
      .btn:hover{
        background-color: #6ea3e1;
      }
      .remove{
        font-size: 12px;
        cursor: pointer;
      }
      #host-content{

      }
  body
    header
      nav.search
        .nav-wrapper
            a(href='#', data-target='sidenav-left', class="button-collapse sidenav-trigger")
              i.material-icons.menu menu
            form
              .input-field
                input(id='search', placeholder='Search', type='search', required='')
                label.label-icon(for='search')
                  i.material-icons.menu search
                i.material-icons.closed close
    main
      ul(id="sidenav-left" class="sidenav sidenav-fixed")
        a(href="/")
          #auxme-logo auxme
        //- .divider
        if user
          li(class=(title == 'Spotify' ? 'active' : ''))
            a(id="host-link" href='#', class="waves-effect white-text") Host
          li(class=(title == 'Party' ? 'active' : ''))
            a(id="party-link" href='#', class="waves-effect white-text") Party
          li(class=(title == 'Generate party code' ? 'active' : ''))
            a(id="generate-party-code" href='#', class="waves-effect white-text") Generate party code
          li(id="party-code")
          li(class=(title == 'Logout' ? 'active' : ''))
            a(id="logout-link" href='/users/logout', class="waves-effect white-text") Logout
          
        if !user
          li(class=(title == 'Login' ? 'active' : ''))
            a(id="login-link" href='/users/login', class="waves-effect white-text") Login
          li(class=(title == 'Register' ? 'active' : ''))
            a(id="register-link" href='/users/register', class="waves-effect white-text") Register
          li(class=(title == 'Join' ? 'active' : ''))
            a(id="join-link" href='/join', class="waves-effect white-text") Join Party
      #host-view
        .container
          #search-content(style="display: none;")
            #search_results.collection
          #host-content
            != messages()
              block content
      #party-view(style="display: none; background-color: red;")
        .container
            block party-content
      #snackbar
      //- #particles
      //- script(src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
      //- script.
      //-   // Don't load particles on mobile
      //-   if (screen && screen.width > 480) {
      //-     //- const particlesCDN =  document.createElement('script');
      //-     const particlesScript =  document.createElement('script');
      //-     //- particlesCDN.src = 'http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js';
      //-     particlesScript.src = '/javascripts/particles.js';
      //-     //- document.head.appendChild(particlesCDN);
      //-     document.head.appendChild(particlesScript);
      //-     //- document.write('<script type="text/javascript" src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"><\/script>');
      //-   }
    footer
      .page-footer
        #playback-info
        #playback-buttons
          button(class="waves-effect btn-flat" id="previous")
            i(class="material-icons playback") fast_rewind
          button(class="waves-effect btn-flat" id="play_pause")
            i(class="material-icons playback" id="play_pause_image") play_arrow 
          button(class="waves-effect btn-flat" id="next")
            i(class="material-icons playback") fast_forward