doctype html
html(lang='en')
  head
    title auxme
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    //- Bootstrap
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    //- Async
    script(src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.1/async.js")
    //- Google font
    link(href='https://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet')
    //- Materlalize css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    //- Materialize JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    //- Material icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    //- Custom font face
    link(rel="stylesheet" href="/css/webfontkit/stylesheet.css" type="text/css" charset="utf-8")
    link(rel="stylesheet" href="/css/layout.css" type="text/css" charset="utf-8")

  body
    header
      block header
    main
      .wrapper
        ul(id="sidenav-left" class="sidenav sidenav-fixed")
          a(href="/")
            #auxme-logo auxme
          //- .divider
          if user
            li(class=(title == 'Spotify' ? 'active' : ''))
              a(id="host-link" href='#', class="waves-effect white-text") Host
            li(class=(title == 'Party' ? 'active' : ''))
              a(id="party-link" href='#', class="waves-effect white-text") Party
            li(id="party-code")
            li(class=(title == 'Logout' ? 'active' : ''))
              a(id="logout-link" href='/users/logout', class="waves-effect white-text") Logout
            
          if !user
            li(class=(title == 'Log In' ? 'active' : ''))
              a(id="login-link" href='/users/login', class="waves-effect white-text") Log In
            li(class=(title == 'Sign Up' ? 'active' : ''))
              a(id="signup-link" href='/users/signup', class="waves-effect white-text") Sign Up
            li(class=(title == 'Join' ? 'active' : ''))
              a(id="join-link" href='/join', class="waves-effect white-text") Join Party
        .container
          #search-content(style="display: none;")
            #search_results.collection
          #host-view
            #host-content
              != messages()
                block content
          #party-view(style="display: none;")
            .container
                block party-content
        #snackbar
    block footer
    script.
      //- Materialize sidenav
      var options = {edge: 'left'};
      document.addEventListener('DOMContentLoaded', function () {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems, options);
      });