extends layout
block header
  .nav-wrapper
      a(href='#', data-target='sidenav-left', class="button-collapse sidenav-trigger")
        i.material-icons.menu menu
block content
 h2.page-header.unselectable Sign Up
 p.unselectable Please sign up using the form below
 if errors
  each error, i in errors
   div.alert.alert-danger.unselectable #{error.msg}
 form(method='post', action='/users/signup', enctype='multipart/form-data')
  .form-group.unselectable
    .input-field
      label(for='name') Name
      input.form-control(id='name' name='name', type='text')
  .form-group.unselectable
    .input-field
      label(for='email') Email
      input.form-control(id='email' name='email', type='email')
  .form-group.unselectable
    .input-field
      label(for='username') Username
      input.form-control(id='username' name='username', type='text')
  .form-group.unselectable
    .input-field
      label(for='password') Password
      input.form-control(id='password' name='password', type='password')
  .form-group.unselectable
    .input-field
      label(for='password2') Confirm Password
      input.form-control(id='password2' name='password2', type='password')
  button(class="waves-effect btn-flat" id="signupButton") Sign Up